<% provide(:title, "Residential Roofing") %>
<% content_for :description do %>Bryce Roofing expertly installs and repairs asphalt shingle roofing, metal roofing, and cedar roofing.<% end %>

<div class="container">
	<div class="page-header">
		<h1>Residential Roofing<small> expert installations</small></h1>
	</div>

<!-- Shingle Roof Systems -->
	<div class="row">
		<div class="col-md-6">
			<h2><strong>Shingle Roof Systems</strong></h2>

			<p class="lead">A shingle roof installed by Bryce Roofing's expert installers is a roof that will provide protection from the elements for decades and comes with a ten year <em>No Worries</em> workmanship warranty for your peace of mind</p>

			<p>Shingle roofs are a cost-effective solution for your home or business. Shingle roofs come in a wide variety of styles and warranties including many designer styles to enhance your homes curb appeal.  Bryce Roofing can install a high performance, high value shingle roof system that's right for you.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= link_to image_tag "independence.jpg", :class => "img-responsive roof-page-img" %>
		</div>

		<div class="col-md-4">
			<%= link_to image_tag "photo1.jpg", :class => "img-responsive roof-page-img" %>
		</div>

		<div class="col-md-4">
			<%= link_to image_tag "fancyroof.jpg", :class => "img-responsive roof-page-img" %>
		</div>
	</div>

<!-- Metal Roofing -->

	<div class="page-header"></div>
	<div class="row">
		<div class="col-md-6">
			<h2><strong>Metal Roofing</strong></h2>

			<p class="lead"> When it comes to weighing in on the benefits of a metal roof over a traditional asphalt shingle roof, a metal roof installed by Bryce Roofing's expert installers is an obvious choice for many home owners.</p>

			<p>Most metal roofs come with a 50 year warranty providing decades of protection from the elements. Also, our metal roof systems come with Bryce Roofing's Ten Year <em>No Worries</em> workmanship warranty for your peace of mind</p>

			<p>Metal roofing is on the leading edge of technology with a wide variety of finishes, designs and colors that provide greater energy savings <a href="http://www.energystar.gov/certified-products/detail/roof_products?fuseaction=find_a_product.showProductGroup&pgw_code=RO" target="_blank">compared to most other non-metal roofing products</a> on the market today.</p>

			<p>Beyond the beauty and the protection that a metal roof provides, advantages include:</p>
			<ul>
				<li>Good for the environment - 100% recyclable.</li>
				<li>Lower cost over the life of the roof.</li>
				<li>Lower maintenance costs.</li>
				<li>Adds resale value.</li>
				<li>Cool metal roofing has been shown to save up to 40% on <a href="http://rsc.ornl.gov/" target="_blank">energy costs</a>.</li>
				<li>Due to its light weight per unit area, structural savings can be realized in a building when compared to using heavier non-metal roofing alternatives. For re-roofing projects, metal roofing can often be applied over the original roof, saving removal and disposal costs.</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= link_to image_tag "exposed_fasteners_metal_roof.jpg", :class => "img-responsive roof-page-img", :alt => "Metal Roof" %>
		</div>

		<div class="col-md-4">
			<%= link_to image_tag "copper_shingle.jpg", :class => "img-responsive roof-page-img" %>
		</div>

		<div class="col-md-4">
			<%= link_to image_tag "flat_panel.jpg", :class => "img-responsive roof-page-img" %>
		</div>
	</div>

	<!-- Cedar Roofing -->

	<div class="page-header"></div>
	<div class="row">
		<div class="col-md-6">
			<h2><strong>Cedar Roofing</strong><small> expert installations</small></h2>

			<p class="lead">It's hard to surpass the quality and beauty of natural cedar roofing. Cedar shakes and shingles have been used for hundreds of 
			years. They have proven their longevity in actual weather 
			conditions, in all types of climates.</p>

			<p>Cedar shakes and shingles 
			contain oils that make them naturally decay resistant. High 
			humidity areas can get added protection with Certi-Last 
			pressure-impregnated preservative treated material. Cedar's 
			insulative quality, aesthetic appeal, and wind and impact 
			resistance make Certi-label cedar shakes and shingles the 
			natural choice for your roofing and siding material.</p>

			<p>Proper design and installation is absolutely critical to ensure long term roof integrity. Bryce Roofing installers have been trained and certified to install cedar shingles and shakes to Cedar Bureau installation specifications. </p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= link_to image_tag "cclumbwe.jpg", :class => "img-responsive roof-page-img", :alt => "cedar roof" %>
		</div>

		<div class="col-md-4">
			<%= link_to image_tag "cedar_hip.jpg", :class => "img-responsive roof-page-img" %>
		</div>

		<div class="col-md-4">
			<%= link_to image_tag "cedar_stone_chimney.jpg", :class => "img-responsive roof-page-img" %>
		</div>
	</div>


 
</div>

<!-- Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97221615-1', 'auto');
  ga('send', 'pageview');

</script>


